{% extends 'baseclient.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}
    <div style="margin-left: 100px; margin-right: 100px; padding-top: 40px ; padding-bottom: 20px">
    <h1 >Evenement</h1>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/rating.css') }}" />
    <script src="{{ asset('js/rating.js') }}"></script>

    <table class="table table-bordered">
        <tbody>
            <tr>
            <th>Nom</th>
            <td>{{ evenement.getnom }}</td>
            </tr>
            <tr>
                <th>Prix en dinars</th>
                <td>{{ evenement.prix }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ evenement.lieu }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if evenement.date %}{{ evenement.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nbreparticipant</th>
                <td>{{ evenement.nbreParticipant }}</td>
            </tr>
            <tr>
                <th>formation</th>

                <td><a href="{{ path('client_FormationConsult', {'id':evenement.getFormation.id}) }}">  {{ evenement.formation }}</a> </td>
            </tr>
            <tr>
                <td> rating</td>
                <td>{{evenement.rating|rating(5)}}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('client_EvenementList') }}">Retour a la liste</a>
        </li>


    </ul>
    </div>
{% endblock %}
