{% extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}
    <body style="">
    <!-- Page Wrap ===========================================-->
    <div id="wrap">

        <!--======= TOP BAR =========-->


        <!--======= HEADER =========-->


        <!--======= BANNER =========-->
        <div class="sub-banner">
            <div class="container">
                <h1>about us</h1>
                <p class="exo">we have 25 years exerience in plimbing</p>
            </div>
            <ol class="breadcrumb">
                <li><a href="#">home </a></li>
                <li class="active"> About us</li>
            </ol>
        </div>

        <!--======= SERVICES =========-->
        <section class="services">
            <div class="container">

                <!--======= SERVICES ROW =========-->
                <ul class="row">

                    <!--======= SERVICES =========-->
                    <li class="col-md-4 padding-r-80">
                        <div class="tittle">
                            <h2 class="text-left">we fix all
                                your HandyMan
                                problems</h2>
                        </div>
                        <p>Sedquis viverra enim. Vivamus aliquet rutrusm dui a varius. Mauris ornoare tortor in
                            eleifends blanditullam ut legula et neque Praesent egset bibendum purus quis.</p>
                        <a href="#." class="btn">about more</a></li>

                    <!--======= SERVICES =========-->
                    <li class="col-md-4">
                        <div class="sec-in"><i class="fa fa-clock-o"></i>
                            <h6>24/7 Availability</h6>
                            <p>Vivamus aliquet rutrusm dui a varius
                                Mauris ornoare tortor. </p>
                            <a href="#." class="go-right"><i class="fa fa-angle-right"></i></a></div>
                    </li>

                    <!--======= SERVICES =========-->
                    <li class="col-md-4">
                        <div class="sec-in"><i class="fa fa-user"></i>
                            <h6>genius workers</h6>
                            <p>Vivamus aliquet rutrusm dui a varius
                                Mauris ornoare tortor. </p>
                            <a href="#." class="go-right"><i class="fa fa-angle-right"></i></a></div>
                    </li>

                    <!--======= SERVICES =========-->
                    <li class="col-md-4">
                        <div class="sec-in"><i class="fa fa-usd"></i>
                            <h6>low pricing</h6>
                            <p>Vivamus aliquet rutrusm dui a varius
                                Mauris ornoare tortor. </p>
                            <a href="#." class="go-right"><i class="fa fa-angle-right"></i></a></div>
                    </li>

                    <!--======= SERVICES =========-->
                    <li class="col-md-4">
                        <div class="sec-in"><i class="fa fa-thumbs-o-up"></i>
                            <h6>free estimation</h6>
                            <p>Vivamus aliquet rutrusm dui a varius
                                Mauris ornoare tortor. </p>
                            <a href="#." class="go-right"><i class="fa fa-angle-right"></i></a></div>
                    </li>
                </ul>
            </div>
        </section>

        <!--======= WHO WE ARE =========-->
        <div class="who-we-are">
            <div class="container">
                <div class="row">

                    <!--======= ARRORDING =========-->
                    <div class="col-md-6">

                        <!--======= TITTLE =========-->
                        <div class="tittle">
                            <h2>who we are</h2>
                        </div>
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">

                                <!--======= PANEL HEADING =========-->
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion"
                                                               href="#collapseOne"> <span class="icon-accor"><i
                                                        class="fa fa-gear"></i></span> awrds &amp; recongnition</a></h4>
                                </div>

                                <!--======= ADD INFO HERE =========-->
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur
                                            adipo sci velit, sed quia non numquam eius modi temora incidunt ut labore
                                            etum dolore tha magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
                                            quius nostrum sak exercitationem ullam corporis suscipit. </p>
                                    </div>
                                </div>
                            </div>

                            <!--======= ACCORDING 2 =========-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion"
                                                               href="#collapseTwo" class="collapsed"><span
                                                    class="icon-accor"><i class="fa fa-bell"></i></span> our company
                                            history</a></h4>
                                </div>

                                <!--======= ADD INFO HERE =========-->
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur
                                            adipo sci velit, sed quia non numquam eius modi temora incidunt ut labore
                                            etum dolore tha magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
                                            quius nostrum sak exercitationem ullam corporis suscipit. </p>
                                    </div>
                                </div>
                            </div>

                            <!--======= ACCORDING 3 =========-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion"
                                                               href="#collapseThree" class="collapsed"><span
                                                    class="icon-accor"><i class="fa fa-gear"></i></span>HandyMan future
                                            plan</a></h4>
                                </div>

                                <!--======= ADD INFO HERE =========-->
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur
                                            adipo sci velit, sed quia non numquam eius modi temora incidunt ut labore
                                            etum dolore tha magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
                                            quius nostrum sak exercitationem ullam corporis suscipit. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--======= IMAGES =========-->
                    <div class="col-md-6">



                            <div class="owl-stage-outer">
                                <div class="owl-stage"
                                     style="width: 738px; transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;">

                                    <div class="owl-item" style="width: 1038px; margin-right: 0px;">
                                        <div><img class="img-responsive" src="{{ asset('images/about-img-1.jpg') }}" alt=""></div>
                                    </div>
                                </div>
                            </div>


                    </div>
                    <!--======= IMAGES =========-->
                </div>
            </div>
        </div>

        <!--======= GALLERY =========-->
        <section id="team">
            <div class="container">
                <!--======= TITTLE =========-->
                <div class="tittle">
                    <h2>team members</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">

                        <!--======= TEAM ROW =========-->
                        <ul class="row">

                            <!--======= TEAM =========-->
                            <li class="col-sm-6">
                                <div class="team"><img class="img-responsive" src="{{ asset('images/team-1.jpg')}}" alt="">
                                    <a class="team-over" href="#."></a>

                                    <!--======= TEAM DETAILS =========-->
                                    <div class="team-detail">
                                        <h6>nissan waser</h6>
                                        <p>HandyMan engineer</p>

                                        <!--======= SOCIAL ICON =========-->
                                        <ul class="social_icons animated-6s fadeInUp">
                                            <li class="facebook"><a href="#."><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter"><a href="#."><i class="fa fa-twitter"></i></a></li>
                                            <li class="googleplus"><a href="#."><i class="fa fa-google-plus"></i></a>
                                            </li>
                                            <li class="linkedin"><a href="#."><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <!--======= TEAM =========-->
                            <li class="col-sm-6">
                                <div class="team"><img class="img-responsive" src="{{ asset('images/team-2.jpg')}}" alt="">
                                    <a class="team-over" href="#."></a>

                                    <!--======= TEAM DETAILS =========-->
                                    <div class="team-detail">
                                        <h6>benjamin thomas</h6>
                                        <p>HandyMan engineer</p>

                                        <!--======= SOCIAL ICON =========-->
                                        <ul class="social_icons animated-6s fadeInUp">
                                            <li class="facebook"><a href="#."><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter"><a href="#."><i class="fa fa-twitter"></i></a></li>
                                            <li class="googleplus"><a href="#."><i class="fa fa-google-plus"></i></a>
                                            </li>
                                            <li class="linkedin"><a href="#."><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">

                        <!--======= TEAM ROW =========-->
                        <ul class="row">

                            <!--======= TEAM =========-->
                            <li class="col-sm-6">
                                <div class="team"><img class="img-responsive" src="{{ asset('images/team-3.jpg')}}" alt="">
                                    <a class="team-over" href="#."></a>

                                    <!--======= TEAM DETAILS =========-->
                                    <div class="team-detail">
                                        <h6>isabella</h6>
                                        <p>HandyMan engineer</p>

                                        <!--======= SOCIAL ICON =========-->
                                        <ul class="social_icons animated-6s fadeInUp">
                                            <li class="facebook"><a href="#."><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter"><a href="#."><i class="fa fa-twitter"></i></a></li>
                                            <li class="googleplus"><a href="#."><i class="fa fa-google-plus"></i></a>
                                            </li>
                                            <li class="linkedin"><a href="#."><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <!--======= TEAM =========-->
                            <li class="col-sm-6">
                                <div class="team"><img class="img-responsive" src="{{ asset('images/team-4.jpg')}}" alt="">
                                    <a class="team-over" href="#."></a>

                                    <!--======= TEAM DETAILS =========-->
                                    <div class="team-detail">
                                        <h6>alexander</h6>
                                        <p>HandyMan engineer</p>

                                        <!--======= SOCIAL ICON =========-->
                                        <ul class="social_icons animated-6s fadeInUp">
                                            <li class="facebook"><a href="#."><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter"><a href="#."><i class="fa fa-twitter"></i></a></li>
                                            <li class="googleplus"><a href="#."><i class="fa fa-google-plus"></i></a>
                                            </li>
                                            <li class="linkedin"><a href="#."><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!--======= CLIENTS FEEDBACK =========-->
        <section class="clients with-gray">
            <div class="container">

                <!--======= TITTLE =========-->
                <div class="tittle">
                    <h2>feedback from clients</h2>
                </div>
                <ul class="row">

                    <!--======= CLIENTS WORD =========-->
                    <li class="col-md-4">
                        <div class="avatar"><img src="{{ asset('images/avatar-1.jpg')}}" alt=""></div>
                        <div class="clients-in">
                            <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                                qicknit vitae dicta sunt explicabo. </p>
                            <h6>Jenny Nair -<span> Home Owner</span></h6>
                        </div>
                    </li>

                    <!--======= CLIENTS WORD =========-->
                    <li class="col-md-4">
                        <div class="avatar"><img src="{{ asset('images/avatar-2.jpg')}}" alt=""></div>
                        <div class="clients-in">
                            <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                                qicknit vitae dicta sunt explicabo. </p>
                            <h6>Jenny Nair -<span> Home Owner</span></h6>
                        </div>
                    </li>

                    <!--======= CLIENTS WORD =========-->
                    <li class="col-md-4">
                        <div class="avatar"><img src="{{ asset('images/avatar-3.jpg')}}" alt=""></div>
                        <div class="clients-in">
                            <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                                qicknit vitae dicta sunt explicabo. </p>
                            <h6>Jenny Nair -<span> Home Owner</span></h6>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <!--======= CLIENTS FEEDBACK =========-->
        <section class="parthner">
            <div class="container">
                <!--======= TITTLE =========-->
                <div class="tittle">
                    <h2>partners / clients</h2>
                </div>

                <!--======= PARTHNERS =========-->
                <div class="parthner-slide owl-carousel owl-theme owl-loaded owl-responsive-0">


                    <!--======= PARTHNERS =========-->


                    <!--======= PARTHNERS =========-->


                    <!--======= PARTHNERS =========-->


                    <!--======= PARTHNERS =========-->


                    <!--======= PARTHNERS =========-->


                    <!--======= PARTHNERS =========-->


                    <!--======= PARTHNERS =========-->

                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                             style="width: 4788px; transform: translate3d(-798px, 0px, 0px); transition: all 0s ease 0s;">
                            <div class="owl-item cloned" style="width: 369px; margin-right: 30px;">
                                <div class="part"><a href="#.">
                                        <img src="{{ asset('images/parthner-img-4.png')}}" alt=""> </a>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 369px; margin-right: 30px;">
                                <div class="part"><a href="#."> <img src="{{ asset('images/parthner-img-5.png')}}" alt=""> </a>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 369px; margin-right: 30px;">
                                <div class="part"><a href="#."> <img src="{{ asset('images/parthner-img-1.png')}}" alt=""> </a>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 369px; margin-right: 30px;">
                                <div class="part"><a href="#.">
                                        <img src="{{ asset('images/parthner-img-2.png')}}" alt=""> </a></div>
                            </div>
                            <div class="owl-item" style="width: 369px; margin-right: 30px;">
                                <div class="part"><a href="#.">
                                        <img src="{{ asset('images/parthner-img-3.png')}}" alt=""> </a></div>
                            </div>
                            <div class="owl-item" style="width: 369px; margin-right: 30px;">
                                <div class="part"><a href="#.">
                                        <img src="{{ asset('images/parthner-img-4.png')}}" alt=""> </a></div>
                            </div>
                            <div class="owl-item" style="width: 369px; margin-right: 30px;">
                                <div class="part"><a href="#.">
                                        <img src="{{ asset('images/parthner-img-5.png')}}" alt=""> </a></div>
                            </div>
                            <div class="owl-item" style="width: 369px; margin-right: 30px;">
                                <div class="part"><a href="#.">
                                        <img src="{{ asset('images/parthner-img-3.png')}}" alt=""> </a></div>
                            </div>
                            <div class="owl-item" style="width: 369px; margin-right: 30px;">
                                <div class="part"><a href="#.">
                                        <img src="{{ asset('images/parthner-img-4.png') }}" alt=""> </a></div>
                            </div>
                            <div class="owl-item" style="width: 369px; margin-right: 30px;">
                                <div class="part"><a href="#.">
                                        <img src="{{ asset('images/parthner-img-5.png') }}" alt=""> </a></div>
                            </div>
                            <div class="owl-item cloned" style="width: 369px; margin-right: 30px;">
                                <div class="part"><a href="#.">
                                        <img src="{{ asset('images/parthner-img-1.png') }}" alt=""> </a></div>
                            </div>
                            <div class="owl-item cloned" style="width: 369px; margin-right: 30px;">
                                <div class="part"><a href="#."> <img src="{{ asset('images/parthner-img-2.png') }}" alt=""> </a></div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-controls">
                        <div class="owl-nav">
                            <div class="owl-prev" style=""><i class="fa fa-angle-left"></i></div>
                            <div class="owl-next" style=""><i class="fa fa-angle-right"></i></div>
                        </div>
                        <div class="owl-dots" style="">
                            <div class="owl-dot active"><span></span></div>
                            <div class="owl-dot"><span></span></div>
                            <div class="owl-dot"><span></span></div>
                            <div class="owl-dot"><span></span></div>
                            <div class="owl-dot"><span></span></div>
                            <div class="owl-dot"><span></span></div>
                            <div class="owl-dot"><span></span></div>
                            <div class="owl-dot"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--======= FOOTER =========-->

    </div>
    {% block script %}
        {{ parent() }}
    {% endblock %}


    <script src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery.stellar.js') }}"></script>
    <script src="{{ asset('js/jquery.isotope.min.js') }}"></script>
    <script src="{{ asset('js/jquery.flexslider-min.js') }}"></script>
    <script src="{{ asset('js/counter.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/jquery.sticky.js') }}"></script>
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/own-menu.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

    </body>

{% endblock %}