{% extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}

    <body style="">
    <!-- Page Wrap ===========================================-->
    <div id="wrap">

        <!--======= TOP BAR =========-->


        <!--======= HEADER =========-->


        <!--======= BANNER =========-->
        <div class="sub-banner">
            <div class="container">
                <h1>Gallery</h1>
                <p class="exo">we have 25 years exerience in plimbing</p>
            </div>
            <ol class="breadcrumb">
                <li><a href="#">home </a></li>
                <li class="active"> Gallery</li>
            </ol>
        </div>

        <!--======= PORTFOLIO =========-->
        <section id="portfolio">
            <div class="portfolio portfolio-filter">

                <!--======= PORTFOLIO ITEMS =========-->

                <section class="offer-services offer-services-2">
                    <div class="container">
                        <!--======= TITTLE =========-->
                        <div class="tittle">
                            <h2>our HandyMan services</h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div role="tabpanel">
                                    <!--======= NAV TABS =========-->
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#plumb" role="tab" data-toggle="tab">all
                                                services<i class="animated bounceInLeft fa fa-long-arrow-right"></i></a></li>
                                        <li role="presentation"><a href="#drain" role="tab" data-toggle="tab">Projets de construction
                                                <i class="animated bounceInLeft fa fa-long-arrow-right"></i></a></li>
                                    </ul>

                                </div>

                                <!--======= 24/7 emergency services =========-->
                                <div class="emer-servic">
                                    <h5>24/7 emergency<br>
                                        services</h5>
                                    <span class="call-em">Contact
            us
            today</span>
                                    <p>To schedule Services</p>
                                </div>
                            </div>

                            <!--======= NAV TABS CONTENT =========-->
                            <div class="col-sm-9">
                                <div class="tab-content service-part no-padding">

                                    <!--======= HandyMan Repairs =========-->
                                    <div role="tabpanel" class="tab-pane animated fadeIn active" id="plumb">
                                        <ul class="row">

                                            <li class="col-sm-4">
                                                <section><img class="img-responsive" src="{{ asset('images/services-img-3.jpg') }}" alt="">
                                                    <div class="ser-details"><a href="{{ path('fixit_construction_project')}}">Projets de construction</a></div>
                                                </section>
                                            </li>
                                            <li class="col-sm-4">
                                                <section><img class="img-responsive" src="{{ asset('images/services-img-4.jpg') }}" alt="">
                                                    <div class="ser-details"><a href="{{ path('fixit_equipes')}}">Equipes de travail</a></div>
                                                </section>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>


                                    <!--======= PORTFOLIO FILTER =========-->
                                    <!-- <ul class="filter">
                                         <li><a class="active" href="#." data-filter="*">All</a>/</li>
                                         <li><a href="#" data-filter=".plumb">HandyMan repair</a>/</li>
                                         <li><a href="#" data-filter=".instal">installation</a>/</li>
                                         <li><a href="#" data-filter=".remod">remodeling</a>/</li>
                                         <li><a href="#" data-filter=".inspec">inspection</a>/</li>
                                         <li><a href="#" data-filter=".other">others</a></li>
                                     </ul> -->



                                    <!--======= LOAD MORE =========-->

                                </div>
                            </div>
                        </div>
                </section>

                <!--======= POPUP PROJECTS =========-->
                <div id="pop-project" class="zoom-anim-dialog mfp-hide pop-project">
                    <div class="pop_up">
                        <div class="row">
                            <div class="col-sm-10">
                                <div id="carousel-img" class="carousel slide" data-ride="carousel">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active"><img src="{{ asset('images/pop-img-1.jpg')}}" alt=""></div>
                                        <div class="item"><img src="{{ asset('images/pop-img-1.jpg')}}" alt=""></div>
                                        <div class="item"><img src="{{ asset('images/pop-img-1.jpg')}}" alt=""></div>
                                        <div class="item"><img src="{{ asset('images/pop-img-1.jpg')}}" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-img" data-slide-to="0" class="active"><img class="img-responsive"
                                                                                                          src="{{ asset('images/detail-img-1.jpg')}}"
                                                                                                          alt=""></li>
                                    <li data-target="#carousel-img" data-slide-to="1"><img class="img-responsive"
                                                                                           src="{{ asset('images/detail-img-2.jpg')}}" alt="">
                                    </li>
                                    <li data-target="#carousel-img" data-slide-to="2"><img class="img-responsive"
                                                                                           src="{{ asset('images/detail-img-3.jpg')}}" alt="">
                                    </li>
                                    <li data-target="#carousel-img" data-slide-to="2"><img class="img-responsive"
                                                                                           src="{{ asset('images/detail-img-2.jpg')}}" alt="">
                                    </li>
                                </ol>
                            </div>

                            <!--======= POPUP PROJECTS DETAILS =========-->
                            <div class="projects-details">
                                <div class="col-sm-8">
                                    <h3>sewer line Replacement</h3>
                                    <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                                        vitae dicta sunt explicabo. Nemo enimsa ipsam voluptatem quia voluptas sit asper niaturu
                                        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptaitem sequi
                                        tha nesciunt. Neque porro quisquam est, </p>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li>
                                            <p><span>date :</span> Mar 18, 2015</p>
                                        </li>
                                        <li>
                                            <p><span>Client : </span>ven diesel home</p>
                                        </li>
                                        <li>
                                            <p><span>work: </span> gas &amp; Sewer Line Replacement</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


            {% block script %}
                {{ parent() }}
            {% endblock %}


    </body>
{% endblock %}