{% extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}

    <body style="">
    <!-- Page Wrap ===========================================-->
    <div id="wrap">


        <!--======= BANNER =========-->
        <div class="sub-banner">
            <div class="container">
                <h1>SERVICES</h1>
                <p class="exo">we have 25 years exerience in plimbing</p>
            </div>
            <ol class="breadcrumb">
                <li><a href="#">home </a></li>
                <li class="active"> SERVICES</li>
            </ol>
        </div>

        <!--======= OFFER SERVICES =========-->
        <section class="offer-services offer-services-2">
            <div class="container">
                <!--======= TITTLE =========-->
                <div class="tittle">
                    <h2>our HandyMan services</h2>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div role="tabpanel">
                            <!--======= NAV TABS =========-->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#plumb" role="tab" data-toggle="tab">all
                                        services<i class="animated bounceInLeft fa fa-long-arrow-right"></i></a></li>
                                <li role="presentation"><a href="#drain" role="tab" data-toggle="tab">HandyMan Repairs
                                        <i class="animated bounceInLeft fa fa-long-arrow-right"></i></a></li>
                                <li role="presentation"><a href="#gas" role="tab" data-toggle="tab">Drain Cleaning <i
                                                class="animated bounceInLeft fa fa-long-arrow-right"></i></a></li>
                                <li role="presentation"><a href="#sewer" role="tab" data-toggle="tab">GAS LINES <i
                                                class="animated bounceInLeft fa fa-long-arrow-right"></i></a></li>
                                <li role="presentation"><a href="#water" role="tab" data-toggle="tab">SEWER LINES <i
                                                class="animated bounceInLeft fa fa-long-arrow-right"></i></a></li>
                                <li role="presentation"><a href="#tankless" role="tab" data-toggle="tab">WATER DAMAGE
                                        PREVENTION <i class="animated bounceInLeft fa fa-long-arrow-right"></i></a></li>
                                <li role="presentation"><a href="#plimbing" role="tab" data-toggle="tab">TANKLESS WATER
                                        HEATERS <i class="animated bounceInLeft fa fa-long-arrow-right"></i></a></li>
                                <li role="presentation"><a href="#plimbing" role="tab" data-toggle="tab">HandyMan
                                        INSPECTIONS <i class="animated bounceInLeft fa fa-long-arrow-right"></i></a>
                                </li>
                            </ul>
                        </div>

                        <!--======= 24/7 emergency services =========-->
                        <div class="emer-servic">
                            <h5>24/7 emergency<br>
                                services</h5>
                            <span class="call-em">Contact
            us
            today</span>
                            <p>To schedule Services</p>
                        </div>
                    </div>

                    <!--======= NAV TABS CONTENT =========-->
                    <div class="col-sm-9">
                        <div class="tab-content service-part no-padding">

                            <!--======= HandyMan Repairs =========-->
                            <div role="tabpanel" class="tab-pane animated fadeIn active" id="plumb">
                                <ul class="row">
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-1.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Sinks and Faucets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-2.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-3.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Bathtubs and Showers</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-4.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-5.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-6.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-7.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-8.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-9.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                </ul>
                            </div>

                            <!--======= HandyMan Repairs =========-->
                            <div role="tabpanel" class="tab-pane animated fadeIn" id="drain">
                                <ul class="row">
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-1.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Sinks and Faucets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-2.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-3.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Bathtubs and Showers</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-7.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-8.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-9.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                </ul>
                            </div>

                            <!--======= GAS LINES =========-->
                            <div role="tabpanel" class="tab-pane animated fadeIn" id="gas">
                                <ul class="row">
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-1.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Sinks and Faucets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-4.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-5.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-6.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-7.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-8.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-9.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                </ul>
                            </div>

                            <!--======= SEWER LINES =========-->
                            <div role="tabpanel" class="tab-pane animated fadeIn" id="sewer">
                                <ul class="row">
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-2.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-3.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Bathtubs and Showers</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-6.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-7.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-8.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-9.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                </ul>
                            </div>

                            <!--======= WATER DAMAGE PREVENTION =========-->
                            <div role="tabpanel" class="tab-pane animated fadeIn" id="water">
                                <ul class="row">
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-5.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-6.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-7.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-8.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-9.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                </ul>
                            </div>

                            <!--======= TANKLESS WATER HEATERS =========-->
                            <div role="tabpanel" class="tab-pane animated fadeIn" id="tankless">
                                <ul class="row">
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-1.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Sinks and Faucets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-2.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-3.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Bathtubs and Showers</a></div>
                                        </section>
                                    </li>
                                </ul>
                            </div>

                            <!--======= HandyMan INSPECTIONS =========-->
                            <div role="tabpanel" class="tab-pane animated fadeIn" id="plimbing">
                                <ul class="row">
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-1.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Sinks and Faucets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-2.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-3.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Bathtubs and Showers</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-6.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                    <li class="col-sm-4">
                                        <section><img class="img-responsive" src="{{ asset('images/services-img-9.jpg') }}" alt="">
                                            <div class="ser-details"><a href="#.">Toilets</a></div>
                                        </section>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--======= ABOUT MORE =========-->
                        <div class="about-more">
                            <h4>20 Years of Experience</h4>
                            <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                                vitae dicta sunt explicabo. Nemo enimsa ipsam voluptatem quia voluptas sit aspernatur
                                aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptaitem
                                sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                consectetur, adipisci velit, sed quia non sathanm numquam eius modi tempora incidunt ut
                                labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quiska
                                nostrum exercitationem ullam corporis suscipit laboriosam...
                                nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iureas reprehenderit qui
                                in ea voluptate velit esse quam nihil molestiae consequatur.</p>
                            <a href="#." class="btn">about more</a></div>
                    </div>
                </div>
            </div>
        </section>

        <!--======= WHY CHOOSE US =========-->
        <section class="call-us">
            <div class="call-inner">
                <div class="container">
                    <h3>Don't See What You Need? Call Us today!</h3>
                    <h1>+61 (123) 456 789</h1>
                </div>
            </div>
        </section>

        <!--======= FOOTER =========-->

    </div>
    {% block script %}
        {{ parent() }}
    {% endblock %}

    </body>
{% endblock %}