{% extends 'baseFrontend.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}
    <body style="">
    <!-- Page Wrap ===========================================-->
    <div id="wrap">

        <!--======= CONTACT =========-->
        <section class="contact">
            <div class="container">

                <!--======= CONTACT INFORMATION =========-->
                <div class="contact-info">
                    <div class="row">
                      <!--  <div class="contact-form">


                            <div class="tittle"><h2>Request Service or Estimate </h2>
                                <hr>
                                <p>Feel free to call us directly or simply complete our form below and we will follow up
                                    with you.</p>
                            </div>


                            <div id="contact_message" class="success-msg"><i class="fa fa-paper-plane-o"></i>Thank You.
                                Your Message has been Submitted
                            </div>

                            <form role="form" id="contact_form" method="post" onsubmit="return false">
                                <ul class="row">
                                    <li class="col-sm-6">
                                        <label>name *
                                            <input type="text" class="form-control" name="name" id="name"
                                                   placeholder="">
                                        </label>
                                    </li>
                                    <li class="col-sm-6">
                                        <label>Email *
                                            <input type="text" class="form-control" name="email" id="email"
                                                   placeholder="">
                                        </label>
                                    </li>
                                    <li class="col-sm-6">
                                        <label>Phone *
                                            <input type="text" class="form-control" name="company" id="company"
                                                   placeholder="">
                                        </label>
                                    </li>
                                    <li class="col-sm-6">
                                        <label>Full Address
                                            <input type="text" class="form-control" name="website" id="website"
                                                   placeholder="">
                                        </label>
                                    </li>

                                    <li class="col-sm-12">
                                        <label>Description of work or services needed
                                            <textarea class="form-control" name="message" id="message" rows="5"
                                                      placeholder=""></textarea></label>
                                    </li>
                                    <li class="col-sm-12">
                                        <button type="submit" value="submit" class="btn" id="btn_submit"
                                                onclick="proceed();">send request
                                        </button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        -->
                        <div class="contact-form">


                            <div class="tittle"><h2>Ajouter votre reclamation ici ! </h2>
                            </div>
                            {{ form_start(form,{'attr':{'id ':'contact_form'}},{action: path('fixit_contactus')}) }}
                            <ul class="row">
                                <li class="col-sm-6">
                                    <label>Titre *
                                        {{ form_widget(form.Titre, {'attr': {'class': 'form-control'} }) }}
                                    </label>
                                </li>

                                <li class="col-sm-12 ">
                                    <label>Describe your Offre here !

                                        {{ form_widget(form.Description, {'attr': {'class': 'form-control'} }) }}
                                    </label>
                                </li>
                                <li class="col-sm-12">
                                    {{ form_widget(form.Ajouter, {'attr': {'class': ' btn-default btn-sm btn'} }) }}
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-12">
                            <ul class="row con-det">

                                <!--======= ADDRESS =========-->
                                <li class="col-md-4">
                                    <h6>Call us 24/7<br>
                                        for emergency service! </h6>
                                    <hr>

                                    <h4>+61 (123) 456 789</h4>

                                    <p>(or)</p>

                                    <p>request service now</p>
                                </li>

                                <!--======= EMAIL =========-->
                                <li class="col-md-4">
                                    <h6>contact address</h6>
                                    <hr>
                                    <p>44 new design street,
                                        melbourne 005</p>

                                    <p>Tel: +61 (123) 456 789</p>

                                    <p>Email: info@example.com</p>
                                </li>

                                <!--======= ADDRESS =========-->
                                <li class="col-md-4">
                                    <h6>special offers</h6>
                                    <hr>
                                    <p>get <span>$25 OFF</span> Any
                                        Tankless Water Heater Installation</p>


                                    <a href="#." class="btn">view our specials</a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </section>


    </div>


    <!-- begin map script-->
    <script type="text/javascript">
        // Use below link if you want to get latitude & longitude
        // http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude.php
        $(document).ready(function () {
//set up markers
            var myMarkers = {
                "markers": [{

                    "latitude": "-37.8176419",
                    "longitude": "144.9554397",

                    "icon": "{{ asset('images/map-locator.png') }}",
                    "baloon_text": '121 King St, Melbourne VIC 3000, Australia'
                }]
            };

//set up map options
            $("#map").mapmarker({
                zoom: 15,
                center: '121 King Street Melbourne Victoria 3000 Australia',
                markers: myMarkers
            });
        });
    </script>

    <div style="position: absolute; left: 0px; top: -2px; height: 1px; overflow: hidden; visibility: hidden; width: 1px;">
        <span style="position: absolute; font-size: 300px; width: auto; height: auto; margin: 0px; padding: 0px; font-family: Roboto, Arial, sans-serif;">BESbswy</span>
    </div>
    </body>
{% endblock %}