{% extends 'baseBackend.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}

    <h1>Formations list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Duree</th>
                <th>Tuteur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td><a href="{{ path('formation_show2', { 'id': formation.id }) }}">{{ formation.id }}</a></td>
                <td>{{ formation.type }}</td>
                <td>{{ formation.duree }}</td>
                <td>{{ formation.tuteur }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('formation_show2', { 'id': formation.id }) }}">Montrer</a>
                        </li>
                        <li>
                            <a href="{{ path('formation_edit1', { 'id': formation.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('formation_new1') }}">Create a new formation</a>
        </li>
    </ul>
{% endblock %}
