{% extends 'default/baseformation.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}
<h1>participation list</h1>

<table class="table table-bordered">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th> user </th>
                <th> evenement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participation in participations %}
            <tr>
                <td><a href="{{ path('participation_show', { 'id': participation.id }) }}">{{ participation.id }}</a></td>
                <td> {{ participation.user }}</td>
                <td> {{ participation.evenement }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('participation_show', { 'id': participation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('participation_edit', { 'id': participation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('participation_new') }}">Create a new participation</a>
        </li>
    </ul>
{% endblock %}
