{% extends 'baseBackend.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}
    <h1>Participation creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('participation_index') }}">Retour a la liste</a>
        </li>
    </ul>
{% endblock %}
