{% extends 'default/baseformation.html.twig' %}


{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}
    <h1>Participation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ participation.id }}</td>
                <th>user</th>
                <td>{{ participation.user }}</td>
                <th>evenement</th>
                <td>{{ participation.evenement }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('participation_index') }}">Retour a la liste</a>
        </li>
        <li>
            <a href="{{ path('participation_edit', { 'id': participation.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
