{% extends 'default/baseformation.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}

    <body style="">
    <!-- Page Wrap ===========================================-->
    <div id="wrap">

        <!--======= TOP BAR =========-->


        <!--======= HEADER =========-->


        <!--======= BANNER =========-->
        <div class="sub-banner">
            <div class="container">
                <h1>Gallery</h1>
                <p class="exo">we have 25 years exerience in plimbing</p>
            </div>
            <ol class="breadcrumb">
                <li><a href="#">home </a></li>
                <li class="active"> Gallery</li>
            </ol>
        </div>

        <!--======= PORTFOLIO =========-->
        <section id="portfolio">
            <div class="portfolio portfolio-filter">

                <!--======= PORTFOLIO ITEMS =========-->
                <div class="portfolio-wrapper">
                    <div class="container">
                        <div class="nav-icon"><i class="fa fa-navicon"></i></div>

                        <!--======= PORTFOLIO FILTER =========-->
                        <ul class="filter">
                            <li><a class="active" href="#." data-filter="*">All</a>/</li>
                            <li><a href="#" data-filter=".plumb">HandyMan repair</a>/</li>
                            <li><a href="#" data-filter=".instal">installation</a>/</li>
                            <li><a href="#" data-filter=".remod">remodeling</a>/</li>
                            <li><a href="#" data-filter=".inspec">inspection</a>/</li>
                            <li><a href="#" data-filter=".other">others</a></li>
                        </ul>

                        <!--======= ITEMS =========-->
                        <ul class="items col-3" style="position: relative; height: 3117.28px;">

                            <!--======= ITEM =========-->
                            <li class="item instal remod inspec other" style="position: absolute; left: 0px; top: 0px;">
                                <div class="gal-item">

                                    <!--======= GALLERY IMAGE =========-->
                                    <img src="{{ asset('images/gal-img-1.jpg') }}"
                                         alt="">

                                    <!--======= GALLERY HOVER =========-->
                                    <div class="gallery-over"><a href="#pop-project"
                                                                 class="link-up link popup-vedio animated-6s fadeInLeftBig"><i
                                                    class="fa fa-long-arrow-right"></i></a>
                                        <div class="items-text animated fadeInRightBig">
                                            <p>repair / fixing</p>
                                            <h5>tankless water heater</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!--======= ITEM =========-->
                            <li class="item instal remod inspec other" style="position: absolute; left: 0px; top: 0px;">
                                <div class="gal-item">

                                    <!--======= GALLERY IMAGE =========-->
                                    <img src="{{ asset('images/gal-img-2.jpg') }}"
                                         alt="">

                                    <!--======= GALLERY HOVER =========-->
                                    <div class="gallery-over"><a href="#pop-project"
                                                                 class="link-up link popup-vedio animated-6s fadeInLeftBig"><i
                                                    class="fa fa-long-arrow-right"></i></a>
                                        <div class="items-text animated fadeInRightBig">
                                            <p>repair / fixing</p>
                                            <h5>tankless water heater</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!--======= ITEM =========-->
                            <li class="item instal remod inspec other" style="position: absolute; left: 0px; top: 0px;">
                                <div class="gal-item">

                                    <!--======= GALLERY IMAGE =========-->
                                    <img src="{{ asset('images/gal-img-3.jpg') }}"
                                         alt="">

                                    <!--======= GALLERY HOVER =========-->
                                    <div class="gallery-over"><a href="#pop-project"
                                                                 class="link-up link popup-vedio animated-6s fadeInLeftBig"><i
                                                    class="fa fa-long-arrow-right"></i></a>
                                        <div class="items-text animated fadeInRightBig">
                                            <p>repair / fixing</p>
                                            <h5>tankless water heater</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>


                            <!--======= ITEM =========-->
                            <li class="item plumb instal" style="position: absolute; left: 0px; top: 1039px;">
                                <div class="gal-item">

                                    <!--======= GALLERY IMAGE =========-->
                                    <img src="{{ asset('images/gal-img-4.jpg')}}"
                                         alt="">

                                    <!--======= GALLERY HOVER =========-->
                                    <div class="gallery-over"><a href="#pop-project"
                                                                 class="link-up link popup-vedio animated-6s fadeInLeftBig"><i
                                                    class="fa fa-long-arrow-right"></i></a>
                                        <div class="items-text animated fadeInRightBig">
                                            <p>repair / fixing</p>
                                            <h5>tankless water heater</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!--======= ITEM =========-->
                            <li class="item instal remod other" style="position: absolute; left: 0px; top: 1385px;">
                                <div class="gal-item">

                                    <!--======= GALLERY IMAGE =========-->
                                    <img src="{{ asset('images/gal-img-5.jpg')}}"
                                         alt="">

                                    <!--======= GALLERY HOVER =========-->
                                    <div class="gallery-over"><a href="#pop-project"
                                                                 class="link-up link popup-vedio animated-6s fadeInLeftBig"><i
                                                    class="fa fa-long-arrow-right"></i></a>
                                        <div class="items-text animated fadeInRightBig">
                                            <p>repair / fixing</p>
                                            <h5>tankless water heater</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!--======= ITEM =========-->
                            <li class="item plumb instal inspec other"
                                style="position: absolute; left: 0px; top: 1731px;">
                                <div class="gal-item">

                                    <!--======= GALLERY IMAGE =========-->
                                    <img src="{{ asset('images/gal-img-6.jpg')}}"
                                         alt="">

                                    <!--======= GALLERY HOVER =========-->
                                    <div class="gallery-over"><a href="#pop-project"
                                                                 class="link-up link popup-vedio animated-6s fadeInLeftBig"><i
                                                    class="fa fa-long-arrow-right"></i></a>
                                        <div class="items-text animated fadeInRightBig">
                                            <p>repair / fixing</p>
                                            <h5>tankless water heater</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!--======= ITEM =========-->
                            <li class="item plumb remod inspec" style="position: absolute; left: 0px; top: 2078px;">
                                <div class="gal-item">

                                    <!--======= GALLERY IMAGE =========-->
                                    <img src="{{ asset('images/gal-img-7.jpg')}}"
                                         alt="">

                                    <!--======= GALLERY HOVER =========-->
                                    <div class="gallery-over"><a href="#pop-project"
                                                                 class="link-up link popup-vedio animated-6s fadeInLeftBig"><i
                                                    class="fa fa-long-arrow-right"></i></a>
                                        <div class="items-text animated fadeInRightBig">
                                            <p>repair / fixing</p>
                                            <h5>tankless water heater</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!--======= ITEM =========-->
                            <li class="item plumb instal remod other"
                                style="position: absolute; left: 0px; top: 2424px;">
                                <div class="gal-item">

                                    <!--======= GALLERY IMAGE =========-->
                                    <img src="{{ asset('images/gal-img-8.jpg')}}"
                                         alt="">

                                    <!--======= GALLERY HOVER =========-->
                                    <div class="gallery-over"><a href="#pop-project"
                                                                 class="link-up link popup-vedio animated-6s fadeInLeftBig"><i
                                                    class="fa fa-long-arrow-right"></i></a>
                                        <div class="items-text animated fadeInRightBig">
                                            <p>repair / fixing</p>
                                            <h5>tankless water heater</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!--======= ITEM =========-->
                            <li class="item plumb inspec other" style="position: absolute; left: 0px; top: 2770px;">
                                <div class="gal-item">

                                    <!--======= GALLERY IMAGE =========-->
                                    <img src="{{ asset('images/gal-img-9.jpg')}}"
                                         alt="">

                                    <!--======= GALLERY HOVER =========-->
                                    <div class="gallery-over"><a href="#pop-project"
                                                                 class="link-up link popup-vedio animated-6s fadeInLeftBig"><i
                                                    class="fa fa-long-arrow-right"></i></a>
                                        <div class="items-text animated fadeInRightBig">
                                            <p>repair / fixing</p>
                                            <h5>tankless water heater</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <!--======= LOAD MORE =========-->
                        <div class="text-center"><a href="#." class="btn"><i class="fa fa-refresh"></i>&nbsp; load more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--======= POPUP PROJECTS =========-->
        <div id="pop-project" class="zoom-anim-dialog mfp-hide pop-project">
            <div class="pop_up">
                <div class="row">
                    <div class="col-sm-10">
                        <div id="carousel-img" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active"><img src="{{ asset('images/pop-img-1.jpg')}}" alt=""></div>
                                <div class="item"><img src="{{ asset('images/pop-img-1.jpg')}}" alt=""></div>
                                <div class="item"><img src="{{ asset('images/pop-img-1.jpg')}}" alt=""></div>
                                <div class="item"><img src="{{ asset('images/pop-img-1.jpg')}}" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-img" data-slide-to="0" class="active"><img class="img-responsive"
                                                                                                  src="{{ asset('images/detail-img-1.jpg')}}"
                                                                                                  alt=""></li>
                            <li data-target="#carousel-img" data-slide-to="1"><img class="img-responsive"
                                                                                   src="{{ asset('images/detail-img-2.jpg')}}" alt="">
                            </li>
                            <li data-target="#carousel-img" data-slide-to="2"><img class="img-responsive"
                                                                                   src="{{ asset('images/detail-img-3.jpg')}}" alt="">
                            </li>
                            <li data-target="#carousel-img" data-slide-to="2"><img class="img-responsive"
                                                                                   src="{{ asset('images/detail-img-2.jpg')}}" alt="">
                            </li>
                        </ol>
                    </div>

                    <!--======= POPUP PROJECTS DETAILS =========-->
                    <div class="projects-details">
                        <div class="col-sm-8">
                            <h3>sewer line Replacement</h3>
                            <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                                vitae dicta sunt explicabo. Nemo enimsa ipsam voluptatem quia voluptas sit asper niaturu
                                odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptaitem sequi
                                tha nesciunt. Neque porro quisquam est, </p>
                        </div>
                        <div class="col-sm-4">
                            <ul>
                                <li>
                                    <p><span>date :</span> Mar 18, 2015</p>
                                </li>
                                <li>
                                    <p><span>Client : </span>ven diesel home</p>
                                </li>
                                <li>
                                    <p><span>work: </span> gas &amp; Sewer Line Replacement</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    {% block script %}
        {{ parent() }}
    {% endblock %}


    </body>
{% endblock %}