{% extends 'default/baseformation.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>
                <a href="{{ path('formation_index') }}">formation</a>
            </td>
            <td>
                <a href="{{ path('evenement_index') }}">evenement</a>
            </td>
            <td>
                <a href="{{ path('participation_index') }}">participation</a>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <p>ici vou pouvez ajouter ou modifier ou meme visionner vos formations</p>
            </td>
            <td>
                <p>  ici vou pouvez ajouter ou modifier ou meme visionner vos evenement</p>
            </td>
            <td>
                <p>  ici vou pouvez ajouter ou modifier ou meme visionner vos participations</p>
            </td>
        </tr>
        </tbody>
    </table>
    {% block script %}
        {{ parent() }}
    {% endblock %}

    </body>
{% endblock %}