{% extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}
    <h1>Evenement</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
            <th>Nom</th>
            <td>{{ evenement.getnom }}</td>
            </tr>
            <tr>
                <th>Prix en dinars</th>
                <td>{{ evenement.prix }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ evenement.lieu }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if evenement.date %}{{ evenement.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nbreparticipant</th>
                <td>{{ evenement.nbreParticipant }}</td>
            </tr>
            <tr>
                <th>formation</th>

                <td><a href="{{ path('formation_show1', {'id':evenement.getFormation.id}) }}">  {{ evenement.formation }}</a> </td>
            </tr>
            <tr>
                <td> rating</td>
                <td>{{evenement.rating|rating(4)}}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('evenement_index1') }}">Retour a la liste</a>
        </li>


    </ul>
{% endblock %}
